{{> visitorHeader }}

<div class="container-fluid container-max-width mt-5">
  <div class="row" id="row-for-posts-cards">
    <div class="col-md-8 offset-md-2 col-sm-10 card mt-5">
      <div class="mt-3">
        User Profile For: {{user.email}}
        <hr>
      </div>


      {{#if user.postss}}

      Doubts Those are "{{user.email}}" posted: <br>

      {{#each user.postss}}
      <a href="/posts/{{this._id}}" style="text-decoration: none;">&nbsp; &nbsp; &bull; &nbsp;{{this.name}}</a><br>
      {{/each}}

      {{/if}}

      {{#if user.comments}}

      <br>Comments By "{{user.email}}": <br>

      {{#each user.comments}}
      <a href="/posts/{{this.posts}}/comment/{{this._id}}" style="text-decoration: none;">&nbsp; &nbsp; &bull;
        &nbsp;{{this.body}}</a><br>
      {{/each}}

      {{/if}}

      {{#if user.likes}}

      <br>Doubts those are "{{user.email}}" Liked: <br>

      {{#each user.likes}}
      <a href="/posts/{{this.posts._id}}" style="text-decoration: none;">&nbsp; &nbsp; &bull;
        &nbsp;{{this.posts.name}}</a><br>
      {{/each}}

      {{/if}}
    </div>
  </div>
</div>
{{> footer }}